<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <h3 class="card-header text-center">Poetry for Neanderthals</h3>
                @if (gameState.gameplay.gameOver) {
                    <app-game-summary (endGame)="handleEndGame()" />
                } @else if (gameState.gameplay.turn.isDone) {
                    <app-game-turn-summary (nextTurn)="handleNextTurn()" />
                } @else {
                    <app-game-turn (turnDone)="handleTurnDone()" />
                }
            </div>
        </div>
    </div>
</div>
