<div class="modal fade" id="returnHomeModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-2">Are you sure you want to pause the game and return home?</div>
                <div class="text-center justify-content-center">
                    <button type="button" class="btn btn-sm btn-secondary me-2" (click)="resumeGame()" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="returnHome()" data-bs-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <div class="position-relative">
                        <h3 class="mb-0">Poetry for Neanderthals</h3>
                        <button class="btn btn-primary btn-sm position-absolute top-left" type="button" title="Return Home" (click)="tryReturnHome()">
                            <i class="bi bi-house"></i>
                            <span class="ms-2 d-none d-md-inline">Home</span>
                        </button>
                        @if (isInTurn && !paused) {
                            <button class="btn btn-warning btn-sm position-absolute top-right" type="button" title="Pause Game" (click)="pauseGame()">
                                <i class="bi bi-pause"></i>
                                <span class="ms-2 d-none d-md-inline">Pause</span>
                            </button>
                        }
                    </div>
                </div>
                @if (gameState.gameplay.gameOver) {
                    <app-game-summary (endGame)="handleEndGame()" />
                } @else if (gameState.gameplay.turn.isDone) {
                    <app-game-turn-summary (nextTurn)="handleNextTurn()" />
                } @else {
                    <app-game-turn (turnDone)="handleTurnDone()" />
                }
            </div>
        </div>
    </div>
</div>
