<div class="card-body">
    <div class="text-center">
        <h4 class="mb-1">Scores</h4>
        @for (score of scores; track $index) {
            <p class="mb-0" [class.mb-2]="$index === teams - 1">
                <span class="fw-bold">Team {{ $index + 1 }}:</span> {{ score }}
            </p>
        }
        <div class="d-flex justify-content-center my-2">
            @if (tie) {
                <div class="text-primary-warn bg-warning-subtle border border-warning-subtle rounded-3 p-3">
                    🤝<span class="ms-2">It's a {{ winners.length }}-way tie!</span>
                </div>
            } @else {
                <div class="text-primary-success bg-success-subtle border border-success-subtle rounded-3 p-3">
                    🎉<strong class="ms-2">Team {{ winners[0] + 1 }}</strong> wins!
                </div>
            }
        </div>
        <button class="btn btn-danger" (click)="endGame.emit()">End Game</button>
    </div>
</div>
