@if (introScreen || resumeScreen) {
    <div class="card-body">
        @if (resumeScreen) {
            <h4 class="text-center mb-2">Game Paused</h4>
            <p class="text-center mb-1">{{ timeRemainingString }} remaining</p>
            <hr />
        }
        <h5 class="text-center mb-2">Round {{ round + 1 }}</h5>
        <p class="text-center mb-1">
            Hand the device to player <strong>{{ player + 1 }}</strong> on team <strong>{{ team + 1 }}</strong>
        </p>
        <p class="text-center mb-2">Remember: <span class="fst-italic">only use one-syllable words</span></p>
        <div class="text-center">
            @if (introScreen) {
                <button class="btn btn-success" (click)="startTurn()">Start Turn</button>
            } @else {
                <button class="btn btn-success" (click)="resumeTurn()">Resume Turn</button>
            }
        </div>
    </div>
} @else {
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-5 d-flex flex-column justify-content-around text-center">
                <span class="text-primary mb-2">{{ onePointWord }}</span>
                <span class="text-success mb-2">{{ threePointWord }}</span>
                <span class="text-danger">Skip</span>
            </div>
            <div class="col-5 d-flex flex-column justify-content-around">
                <button class="btn btn-primary mb-2" (click)="advance(1)">+1</button>
                <button class="btn btn-success mb-2" (click)="advance(3)">+3</button>
                <button class="btn btn-danger" (click)="advance(-1)">-1</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div
            class="progress my-2"
            role="progressbar"
            [style.width.%]="(timeRemaining / turnTime) * 100"
            [class.bg-danger]="timeRemaining <= 0.1 * turnTime"
            [class.bg-warning]="timeRemaining > 0.1 * turnTime && timeRemaining <= 0.25 * turnTime"
            [class.bg-success]="timeRemaining > 0.25 * turnTime"
        ></div>
    </div>
}
